.machine-detail-primary {
    padding-top: 1%;
    font-size: 1.5em;
}

.machine-title {
    font-size: 2.5em;
    padding-bottom: 5%
}

.machine-status {
    font-size: 2em;
}

.machine-logo {
  height: 3vmin;
  pointer-events: none;
}